
<br><br><div class="about-container">
    <div class="photo">
        <img src="assets/images/Rahim.jpg" alt="Photo de Saikou Abdou Rahim Diallo">
    </div>
    <div class="text">
        <h1>À propos de moi</h1>
        <p>
            Je m'appelle <strong>Saikou Abdou Rahim Diallo</strong>, né en Guinée Conakry dans la ville de Labé. J'ai
            fait mes études en Guinée jusqu'à obtenir mon baccalauréat. À cette époque, je vivais dans la maison
            familiale, où tout allait bien. Un jour, j'ai décidé de quitter mon confort pour poursuivre mes études
            universitaires au Sénégal.
        </p>
        <p>
            Au Sénégal, je suis venu vivre chez mon oncle, qui avait généreusement décidé de financer mes études.
            Cependant, cette aide se limitait uniquement aux frais de scolarité. Je devais donc trouver un moyen de
            subvenir à mes autres besoins. C'est alors que j'ai commencé à chercher des solutions pour m'en sortir.
        </p>
        <p>
            Les boulots qu'on me proposait à l'époque n'étaient pas compatibles avec mes études. Puis, mon neveu,
            qui faisait des ventes en ligne à Dakar, m'a proposé cette solution. J'ai donc décidé de me lancer. J'ai
            commencé par acheter une moto à crédit pour faire des livraisons tout en m'impliquant dans les ventes en
            ligne.
        </p>
        <p>
            C'est ainsi que j'ai créé <strong>AMD Company</strong>, une entreprise qui vend à la fois des montres et
            des lunettes en ligne, tout en offrant des services de livraison.
        </p>
    </div>
</div>

