/* Conteneur principal du panier */
.cart-container {
    margin-top: 40px;
    padding: 10px;
    background-color: #e8e4e4; 
    border-radius: 8px; 
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Titre du panier */
  h2 {
    color: #0d0f27; 
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .vide{
    color: #0d0f27;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
  }
  /* Tableau des articles du panier */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  /* Entêtes du tableau */
  thead {
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(36,123,160,1) 100%);
    color: #fff;
  }
  
  th {
    padding: 10px;
    text-align: left;
  }
  
  /* Lignes du tableau */
  tbody tr {
    border-bottom: 1px solid #ddd; 
  }
  
  td {
    padding: 10px;
  }
  
  /* Image du produit */
  .product-image {
    max-width: 100px; 
    max-height: 100px;
    object-fit: cover;
    border-radius: 5px; 
  }
  
  /* Boutons pour ajuster la quantité */
  button {
    color: #fff; 
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3; 
  }
  
  /* Icône pour retirer le produit */
  .remove-icon {
    color: #dc3545; 
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Conteneur des totaux */
  .cart-totals {
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding: 10px;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Bouton de commande */
  .order-button {
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(36,123,160,1) 100%);
  }
  
  .order-button:hover {
    background: linear-gradient(90deg, rgba(36,123,160,1) 100%, rgba(34,34,34,1) 0% );
  }
  
  /* Bouton pour vider le panier */
  button.clear-cart {
    background-color: #dc3545; 
  }
  
  button.clear-cart:hover {
    background-color: #c82333; 
  }
  
  /* Message d'erreur */
  .error-message {
    color: #dc3545;
    font-size: 16px;
    margin-top: 10px;
  }
  