<div class="form-container">
  <h2>Ajouter un Client</h2>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom complet</label>
      <input id="name" formControlName="name" placeholder="Entrez le nom du client" />
      <div *ngIf="clientForm.get('name')?.invalid && clientForm.get('name')?.touched" class="error-message">
        Le nom est requis et doit avoir au moins 2 caractères.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" placeholder="Entrez l'email du client" />
      <div *ngIf="clientForm.get('email')?.invalid && clientForm.get('email')?.touched" class="error-message">
        Un email valide est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="telephone">Téléphone</label>
      <input id="telephone" formControlName="telephone" placeholder="Entrez le numéro de téléphone" />
      <div *ngIf="clientForm.get('telephone')?.invalid && clientForm.get('telephone')?.touched" class="error-message">
        Le téléphone est requis et doit être au bon format.
      </div>
    </div>

    <div class="form-group">
      <label for="image">Ajouter une photo</label>
      <input type="file" (change)="onFileSelected($event)" id="image" />
      <div *ngIf="imagePreview">
        <img [src]="imagePreview" alt="Prévisualisation" class="image-preview" />
      </div>
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input id="password" formControlName="password" type="password" placeholder="Entrez le mot de passe" />
      <div *ngIf="clientForm.get('password')?.invalid && clientForm.get('password')?.touched" class="error-message">
        Le mot de passe est requis et doit avoir au moins 4 caractères.
      </div>
    </div>
    
    <button type="submit" [disabled]="clientForm.invalid">Ajouter Client</button>
  </form>
</div>
