<div class="order-history-container">
    <h2 class="page-title">Historique des commandes</h2>
  
    <div *ngIf="orders.length > 0; else noOrders">
      <div *ngFor="let order of orders" class="order-card">
        <div class="order-header">
          <span class="order-number">Commande #{{ order.numeroCommande }}</span>
          <span class="order-status" [ngClass]="getStatusClass(order.status)">{{ order.status }}</span>
          <div class="order-actions">
            <button *ngIf="isReturnable(order)" class="action-btn return-btn">Retourner la commande</button>
            <button *ngIf="isCancelable(order)" class="action-btn cancel-btn" (click)="cancelOrder(order)">Annuler la commande</button>
          </div>
        </div>
  
        <div class="progress-bar-container">
          <div class="progress-bar" [ngClass]="getProgressClass(order.status)"></div>
        </div>
  
        <div class="order-body">
          <div class="order-details">
            <p><strong>Date de commande :</strong> {{ order.dateCommande | date: 'shortDate' }}</p>
            <p><strong>Total :</strong> {{ order.montant | currency:'FCFA' }}</p>
            <p><strong>Adresse de livraison :</strong> {{ order.adresseLivraison }}</p>
          </div>
          <button class="toggle-products-btn" (click)="toggleProducts(order)">Voir les produits</button>
          <div *ngIf="order.showProducts" class="order-products">
            <table>
              <thead>
                <tr>
                    <th>Image</th>
                    <th>Produit</th>
                    <th>Quantité</th>
                
                    <th>Prix unitaire</th>
                    <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of order.produits">
                    <td>
                        <img *ngIf="product.images && product.images.length > 0" [src]="'data:image/png;base64,' + product.images[0].image" alt="{{ product.libelle }}" class="product-image">
                      </td>
                  <td>{{ product.libelle }}</td>
                  <td>{{ product.pivot.quantite }}</td>
                  
                  <td>{{ product.prix | currency:'FCFA' }}</td>
                  <td>{{ product.prix * product.pivot.quantite | currency:'FCFA' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <ng-template #noOrders>
      <p class="no-orders-message">Aucune commande trouvée.</p>
    </ng-template>
  </div>
  