<div class="help-section container mt-4">
    <div class="help-header">
        <h1>Aide et Support</h1>
        <p>Bienvenue sur la page d'aide. Trouvez les réponses à vos questions fréquentes ci-dessous.</p>
      </div>

    <h2>Comment suivre ma commande ?</h2>
    <p>Après avoir passé une commande, vous pouvez suivre son état en suivant ces étapes :</p>
    <ol>
      <li>
        <strong>Recevez un e-mail de confirmation :</strong>
        <p>Dès que vous avez passé votre commande, vous recevrez un e-mail de confirmation contenant les détails de votre commande, y compris la liste des produits, le montant total, et l'adresse de livraison.</p>
      </li>
      <li>
        <strong>Recevez des mises à jour par e-mail :</strong>
        <p>À chaque changement de statut de votre commande, vous recevrez un e-mail vous informant de l'état actuel de votre commande et de la prochaine étape. Cela vous permet de rester informé tout au long du processus de livraison.</p>
      </li>
      <li>
        <strong>Consultez l'historique de vos commandes :</strong>
        <p>Pour voir l'historique de vos commandes, accédez à l'onglet "Utilisateur" dans le menu principal, puis sélectionnez "Mes commandes" dans la liste déroulante. Vous verrez un aperçu de toutes vos commandes passées.</p>
      </li>
      <li>
        <strong>Visualisez la jauge de progression :</strong>
        <p>Pour chaque commande, une jauge de progression sera affichée. Cette jauge montre l'état actuel de votre commande, allant de la préparation à l'expédition et enfin à la livraison. La jauge se met à jour automatiquement à chaque changement de statut.</p>
      </li>
    </ol>
  </div>
  