.help-section {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .help-section h2 {
    font-size: 1.5em;
    color: #333;
  }
  
  .help-section p {
    color: #666;
  }
  
  .help-section ol {
    padding-left: 20px;
  }
  
  .help-section li {
    margin-bottom: 10px;
  }
  
  .help-section strong {
    color: #000;
  }

  
  h1{
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
  }