<div class="container">
    <h2 class="title">Gestion des Commandes</h2>
    
    <div class="button-group">
      <button class="btn btn-primary">Commandes du Jour</button>
      <button class="btn btn-primary">Commandes en Cours</button>
      <button class="btn btn-primary">Toutes les Commandes</button>
    </div>
    
    <div class="content table-responsive table-full-width">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Client</th>
            <th class="text-center">Numéro de commande</th>
            <th class="text-center">Date de commande</th>
            <th class="text-center">Montant de la commande</th>
            <th class="text-center">Adresse de livraison</th>
            <th class="text-center">Status</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="td-actions text-center">
              <a rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs" routerLink="">
                <i class="fa fa-user"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  