.header-client {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.horizontal-navbar {
    width: 100%;
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(36,123,160,1) 100%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 10px 20px;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: -150px;
}

.logo {
    height: 70px;
}

.menu-container {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-menu li {
    margin-right: 20px;
    position: relative;
}

.main-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.main-menu li a:hover {
    color: #b8daff !important;
}

.category-menu {
    list-style-type: none;
    margin: 0;
    padding-top: 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.category-menu li {
    margin: 0 15px;
}

.horizontal-navbar a, .horizontal-navbar input[type="text"] {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.horizontal-navbar input[type="text"] {
    background-color: #f1ecec;
    border-radius: 8px;
    color: black;
    padding: 5px;
    width: 350px;
}

.main-content {
    padding: 10px;
    padding-left: 100px;
    padding-top: 100px;
    flex-grow: 1;
}

.cart-icon-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-icon {
    font-size: 20px;
    color: #fff;
    transition: color 0.3s;
}

.cart-icon:hover {
    color: #b8daff !important;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    min-width: 20px;
    text-align: center;
    line-height: 20px;
}

.cart-label {
    margin-top: 5px;
    font-size: 12px; 
    color: #fff; 
}

/* Style pour le menu déroulant */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(36,123,160,1) 100%);
    padding: 10px 0;
    top: 100%;
    left: 0;
    min-width: 150px;
    border-radius: 4px;
    z-index: 1000;
}

.dropdown-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li a {
    color: #fff;
    padding: 8px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu li a:hover {
    background: linear-gradient(90deg, #78909C, #90A4AE); 
}

.nav-item:hover .dropdown-menu {
    display: block; 
}
