.header-client {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.horizontal-navbar {
    width: 100%;
    background: linear-gradient(135deg, #000000, #1e4572); 
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    z-index: 1; 
    padding: 10px 20px; 
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: -150px;
}

.logo {
    height: 70px; 
}

.menu-container {
    flex: 3; 
    display: flex;
    flex-direction: column;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
}

.main-menu li {
    margin: 0 10px;
}

.category-menu {
    list-style-type: none;
    margin: 0;
    padding-top: 15px;
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
}

.category-menu li {
    margin: 0 15px; 
}

.horizontal-navbar a, .horizontal-navbar input[type="text"] {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.horizontal-navbar a:hover {
    color: #8399A4; 
}

.horizontal-navbar input[type="text"] {
    background-color: #f1ecec; 
    border-radius: 8px;
    color: black;
    padding: 5px;
    width: 350px;
}

.main-content {
    padding: 10px;
    padding-left: 100px;
    padding-top: 100px;
    flex-grow: 1;
}

.cart-icon-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-icon {
    font-size: 24px; /* Augmentez la taille de l'icône pour plus de visibilité */
}

.cart-badge {
    position: absolute;
    top: -10px; /* Ajuster la position pour qu'elle ne chevauche pas l'icône */
    right: -10px; /* Ajuster la position pour qu'elle ne chevauche pas l'icône */
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px; /* Ajustez la taille du padding pour une meilleure apparence */
    font-size: 12px; /* Taille du texte dans la badge */
    min-width: 20px; /* Assurer une forme ronde */
    text-align: center;
    line-height: 20px; /* Aligner le texte verticalement */
}

.cart-label {
    margin-top: 5px; /* Espacement entre l'icône et le label */
    font-size: 12px; /* Taille du texte du label */
    color: #fff; /* Couleur du texte */
}
