<div class="header-client">
  <div class="horizontal-navbar">
      <div class="logo-container">
          <img src="assets/images/SALFORD.jpg" alt="Logo" class="logo">
      </div>

      <div class="menu-container">
          <ul class="main-menu">
            <li class="nav-item dropdown">
              <a class="dropdown-toggle">
                <i class="fas fa-list"></i> Catégories                
              </a>
              <ul class="dropdown-menu categories-submenu">
                <li *ngFor="let category of categories">
                  <a [routerLink]="['/category', category.id]">{{ category.libelle }}</a>
                </li>
              </ul>
            </li>

              <li><a href="#" routerLink="">Catalogue</a></li>
              <li><a href="#" routerLink="/apropos">A propos de nous</a></li>
              <li><a href="#" routerLink="/contact">Nous contacter</a></li>
              <li>
                <input type="text" placeholder="Rechercher..." [(ngModel)]="searchQuery" (keyup.enter)="onSearch()">
              </li>

              <li class="nav-item">
                <ng-container *ngIf="isConnected; else notConnected">
                  <div class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fas fa-user"></i>
                      <span style="padding-left: 5px; font-size: 14px;">
                        {{ userName || displayName }}
                      </span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a routerLink="/mesCommande" class="dropdown-item">Mes commandes</a></li>
                      <li><a class="dropdown-item" routerLink="/client/profile">Mon compte</a></li>
                      <li><a class="dropdown-item" (click)="logout()">Déconnexion</a></li>
                    </ul>
                  </div>
                </ng-container>
                <ng-template #notConnected>
                  <a routerLink="/login" class="nav-link">Se connecter</a>
                </ng-template>
              </li>

             <li class="nav-item">
              <div class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fas fa-question-circle"></i> 
                      <span style="padding-left: 5px;">Aide</span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a routerLink="/help/payerCommane" class="dropdown-item">Payer une commande</a></li>
                      <li><a routerLink="/help/suivreCommande" class="dropdown-item">Suivre votre commande</a></li>
                      <!--li><a routerLink="/help/return-order" class="dropdown-item">Retourner une commande</a></li-->
                  </ul>
              </div>
            </li>
            <li>
              <div class="cart-icon-container">
                <a href="#" routerLink="/panier">
                  <i class="fas fa-shopping-cart cart-icon"></i>
                  <span *ngIf="cartItemCount > 0" class="cart-badge">{{ cartItemCount }}</span>
                </a>
              </div>
            </li>
          </ul>
          <ul class="category-menu">
            <li *ngIf="isAdmin"><a href="#" routerLink="/admin/dashboard"> <i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li *ngIf="isAdmin"><a href="#" routerLink="/admin/user"><i class="fas fa-user"></i> Utilisateurs</a></li>
            <li *ngIf="isAdmin"><a href="#" routerLink="/admin/categorie"><i class="fas fa-list"></i> Catégories</a></li>
            <li *ngIf="isAdmin"><a href="#" routerLink="/admin/produit"><i class="fas fa-cube"></i> Produits</a></li>
            <li *ngIf="isAdmin"><a href="#" routerLink="/admin/commande"><i class="fas fa-box"></i> Commandes</a></li>
            <li *ngIf="isAdmin"><a href="#" routerLink="/admin/payment"><i class="fas fa-credit-card"></i> Paiements</a></li>
            <!--li *ngIf="isAdmin"><a href="#" routerLink="/admin/retour">Retours</a></li-->
          </ul>
      </div>
  </div>

  <div class="main-content">
      <router-outlet></router-outlet>
  </div>
  <br><br><br>
  <app-footer-client></app-footer-client>
</div>
